@model ShoppingSite.Models.Category
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CategoryName</h2>

<div class="row">
    @foreach (var item in Model.Items)
    {
        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="\Content\Image\download.png">
                <div class="caption">
                    <p><b>@Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })</b></p>
                </div>
            </div>
        </div>
    }
</div>

