@model ShoppingSite.Models.Category
@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CategoryName</h2>


    @foreach (var item in Model.Items)
    {
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"> @Html.ActionLink(item.ItemName, "Details", new { id = item.ItemId })</li>
        </ul>
    </div>
    }


