@model IEnumerable<ShoppingSite.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category present:</h2>

@foreach (var category in Model)
{
    <div class="container">
        <ul class="list-group">
            <li> @Html.ActionLink(category.CategoryName, "Browse", new { category = category.CategoryName })</li>
        </ul>
    </div>
}

