@model IEnumerable<ShoppingSite.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category present:</h2>
<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-xs-4">
            <div class="thumbnail">
                <img src="\Content\Image\download.png">
                <div class="caption">
                    <p><b>@Html.ActionLink(category.CategoryName, "Browse", new { category = category.CategoryName })</b></p>
                </div>
            </div>
        </div>
}
</div>

