
@{
    ViewBag.Title = "AddToCartSecond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img  src="\Content\Image\sad.jpg"/ class="center-block">
<br />
<p class="text-center"><b>Sorry!!! Running out of stock</b></p>

