
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="\Content\Image\cropped-afe2e-admin-hero-logo-with-character.png" class="center-block">
<br />
<p class="text-center"><b>Welcome to Admin Panel</b></p>

