@model ShoppingSite.Models.Item


<title>jQuery UI Autocomplete - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="ui-widget">
    <p>Available items</p>
    <label for="tags">Tags:</label>
    <input id="tags">
</div>


@if (Model != null)
{
    <h4>@Model.ItemName</h4>
    
}

<script>

    $(function () {
        var availableTags = [];
        $.ajax(
            {
                type='GET',
                url='/Home/getName',
                success: function (response) {

                    $.each(response, function (key, item) {
                        availableTags.push(item.);
                    });
                }
            });


        $("#tags").autocomplete({
            source: availableTags
        });
    });
</script>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">


            <div class="item active">
                <div class="container">
                    <a href="/Account/Register"><img src="\Content\Image\download.jpg" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Discount on Clothes</h4>

                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="/Account/Register"><img src="\Content\Image\images.jpg" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Discount on Speakers</h4>

                    </div>

                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="/Account/Register"><img src="\Content\Image\Reconnect-Disney-Metal-Heads-DBTH302-Nonfoldable-Headphone-491600567-i-1-1200Wx1200H-300Wx300H.jpg" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>Discount on Headphones</h4>

                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <a href="/Account/Register"><img src="\Content\Image\download.png" alt="" /></a>
                    <div class="carousel-caption">
                        <h4>On Others Range</h4>

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>



